In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
import seaborn as sb
import numpy as np

In [ ]:
path = './BA 222/BA Project/Clean Data/CleanData.csv'
cleanData = pd.read_csv(path)
cleanData.head()

,Unnamed: 0,Weekly_Expenditure,Weekly_Shopping,Destination_Time,Spending_Eating,reason_Distance,reason_Grocery_Selection,reason_Customer_Service,reason_Price,reason_Parking,...,Priority_Health,Priority_Convenience,Priority_Variety,Category_Food,Employment,Buying_Role,Age,Gender,Average_Income,Household_Members
0,3,50.0,1.0,10 - 20,$60 - $89,Distance,Grocery Selection,0,Price,0,...,2.0,3.0,6.0,Frozen Food,Employed Full Time,I make the decisions,21.0,Male,$75K - $100K,2.0
1,4,70.0,1.0,10 - 20,$90 - $119,Distance,Grocery Selection,0,Price,0,...,3.0,5.0,6.0,Fresh Produce,Student,I make the decisions,22.0,Male,$25k - $50k,1.0
2,5,50.0,1.0,10 - 20,$90 - $119,0,Grocery Selection,0,0,0,...,5.0,2.0,3.0,Fresh Produce,Student,I make the decisions,22.0,Female,$25k - $50k,1.0
3,6,100.0,2.0,5 - 10,$60 - $89,Distance,0,0,0,0,...,4.0,2.0,6.0,Fresh Produce,Student,I make the decisions,22.0,Female,$0 - $25K,1.0
4,7,100.0,2.0,5 - 10,$90 - $119,Distance,Grocery Selection,0,0,0,...,1.0,5.0,6.0,Fresh Produce,Employed Full Time,I make the decisions,24.0,Female,$50K - $75K,1.0

In [ ]:
cleanData.columns

Index(['Unnamed: 0', 'Weekly_Expenditure', 'Weekly_Shopping',
       'Destination_Time', 'Spending_Eating', 'reason_Distance',
       'reason_Grocery_Selection', 'reason_Customer_Service', 'reason_Price',
       'reason_Parking', 'reason_Online_Shopping', 'reason_Deals',
       'Multiple_Shoppers', 'Is_Online_Accessible', 'More_Online_Accessible',
       'Priority_Price', 'Priority_Service', 'Priority_QOP', 'Priority_Health',
       'Priority_Convenience', 'Priority_Variety', 'Category_Food',
       'Employment', 'Buying_Role', 'Age', 'Gender', 'Average_Income',
       'Household_Members'],
      dtype='object')

In [ ]:
WE = cleanData.Weekly_Expenditure
Weekly_Expenditure_Summary = WE.describe()

In [ ]:
WS = cleanData.Weekly_Shopping
Weekly_Shopping = WS.describe()

In [ ]:
IOA = cleanData.Is_Online_Accessible
Is_Online_Accessible = IOA.describe()

In [ ]:
MOA = cleanData.More_Online_Accessible
More_Online_Accessible = MOA.describe()

In [ ]:
Age = cleanData.Age
Age = Age.describe()

In [ ]:
HM = cleanData.Household_Members
Household_Members = HM.describe()

In [ ]:
DT = cleanData.Destination_Time
Relative_Frequency_Destination_Time = DT.value_counts(normalize = True, ascending = True)

In [ ]:
SE = cleanData.Spending_Eating
Relative_Frequency_Spending_Eating = SE.value_counts(normalize = True, ascending = True)

In [ ]:
RD = cleanData.reason_Distance
print(RD.value_counts(normalize = True, ascending = True))

RGS = cleanData.reason_Grocery_Selection
print(RGS.value_counts(normalize = True, ascending = True))

RCS = cleanData.reason_Customer_Service
print(RCS.value_counts(normalize = True, ascending = True))

RP = cleanData.reason_Price
print(RP.value_counts(normalize = True, ascending = True))

RPa = cleanData.reason_Parking
print(RPa.value_counts(normalize = True, ascending = True))

ROS = cleanData.reason_Online_Shopping
print(ROS.value_counts(normalize = True, ascending = True))

RDe = cleanData.reason_Deals
print(RDe.value_counts(normalize = True, ascending = True))

0           0.222222
Distance    0.777778
Name: reason_Distance, dtype: float64
0                    0.333333
Grocery Selection    0.666667
Name: reason_Grocery_Selection, dtype: float64
Customer Service    0.092593
0                   0.907407
Name: reason_Customer_Service, dtype: float64
Price    0.462963
0        0.537037
Name: reason_Price, dtype: float64
Parking    0.018519
0          0.981481
Name: reason_Parking, dtype: float64
Online Shopping    0.092593
0                  0.907407
Name: reason_Online_Shopping, dtype: float64
Deals    0.111111
0        0.888889
Name: reason_Deals, dtype: float64

In [ ]:
MS = cleanData.Multiple_Shoppers
Relative_Frequency_Multiple_Shoppers = MS.value_counts(normalize = True, ascending = True)

In [ ]:
print(cleanData.Priority_Price.mean())
print(cleanData.Priority_Service.mean())
print(cleanData.Priority_QOP.mean())
print(cleanData.Priority_Health.mean())
print(cleanData.Priority_Convenience.mean())
print(cleanData.Priority_Variety.mean())

2.314814814814815
2.3333333333333335
4.351851851851852
2.925925925925926
4.055555555555555
5.018518518518518

In [ ]:
CF = cleanData.Category_Food
Relative_Frequency_Category_Food = CF.value_counts(normalize = True, ascending = True)

In [ ]:
E = cleanData.Employment
Relative_Frequency_Employment = E.value_counts(normalize = True, ascending = True)

In [ ]:
BR = cleanData.Buying_Role
Relative_Frequency_Buying_Role = BR.value_counts(normalize = True, ascending = True)

In [ ]:
G = cleanData.Gender
Relative_Frequency_Gender = G.value_counts(normalize = True, ascending = True)

In [ ]:
AI = cleanData.Average_Income
Relative_Frequency_Average_Income = AI.value_counts(normalize = True, ascending = True)

In [ ]:
CorrMatrix = cleanData.corr()

In [ ]:
MissingData = cleanData.isna().sum()/len(cleanData)

In [ ]:
cleanData.head()

,Unnamed: 0,Weekly_Expenditure,Weekly_Shopping,Destination_Time,Spending_Eating,reason_Distance,reason_Grocery_Selection,reason_Customer_Service,reason_Price,reason_Parking,...,Priority_Health,Priority_Convenience,Priority_Variety,Category_Food,Employment,Buying_Role,Age,Gender,Average_Income,Household_Members
0,3,50.0,1.0,10 - 20,$60 - $89,Distance,Grocery Selection,0,Price,0,...,2.0,3.0,6.0,Frozen Food,Employed Full Time,I make the decisions,21.0,Male,$75K - $100K,2.0
1,4,70.0,1.0,10 - 20,$90 - $119,Distance,Grocery Selection,0,Price,0,...,3.0,5.0,6.0,Fresh Produce,Student,I make the decisions,22.0,Male,$25k - $50k,1.0
2,5,50.0,1.0,10 - 20,$90 - $119,0,Grocery Selection,0,0,0,...,5.0,2.0,3.0,Fresh Produce,Student,I make the decisions,22.0,Female,$25k - $50k,1.0
3,6,100.0,2.0,5 - 10,$60 - $89,Distance,0,0,0,0,...,4.0,2.0,6.0,Fresh Produce,Student,I make the decisions,22.0,Female,$0 - $25K,1.0
4,7,100.0,2.0,5 - 10,$90 - $119,Distance,Grocery Selection,0,0,0,...,1.0,5.0,6.0,Fresh Produce,Employed Full Time,I make the decisions,24.0,Female,$50K - $75K,1.0

In [ ]:
Weekly_Expenditure_by_Gender = cleanData[['Gender','Weekly_Expenditure']].groupby('Gender').agg('mean')

In [ ]:
Weekly_Expenditure_by_Age = cleanData[['Age','Weekly_Expenditure']].groupby('Age').agg('mean')

In [ ]:
Weekly_Expenditure_by_Average_Income = cleanData[['Average_Income','Weekly_Expenditure']].groupby('Average_Income').agg('mean')